:root{
    --border-color:#757575;
    --white:#ffffff;
    --green: #338239;
    --black: #333333;
    --blue: #2B78C1;
    --red: #CE171B;
}
.landing-page {
    &__showcase {
        transition-property: transform, margin;
        transition-timing-function: theme("transitionTimingFunction.out");
        transition-duration: theme("transitionDuration.700");
        margin-top: theme("spacing.5");
        margin-bottom: theme("spacing.20");
        transform: perspective(1rem) rotateX(0.4deg) scale(0.9);
    }
    &--scrolled {
        .landing-page__showcase {
            margin-top: theme("spacing.36");
            margin-bottom: 0;
            transform: none;
        }
    }
}
body{color: var(--black);font-size: 1rem;}
p{color: var(--black);}
h3{font-size: 1.3rem !important;}
.mt-15{margin-top: 8rem;}
.tns-outer{height: 100%;}
.tns-ovh{ height: 100%;}
.tns-inner { height: 100%;}
.border{border-color: (var(--border-color));}
.bg-black{background-color: #000;}
input.border-color{border-color: var(--border-color);}
.btn-primary{background-color:var(--green); color:var(--white); padding: 1rem;border-radius: .5rem;text-align: center;}
.border-bottom {border-bottom: 1px solid #d9d9d9;}
.border-left{border-left: 1px solid #eee;}
.tns-outer .tns-nav {margin-bottom: 0; bottom: 55px;}
.tns-outer .tns-nav button.tns-nav-active {background-color: #D9D9D9;}
.tns-outer .tns-nav button { width: 3rem; height: 0.35rem; background-color: #D9D9D926;   
}
/* Main Dashboard */
.mns-main.before\:to-theme-2::before{content: '';background-image: url('../../images/pages/main-banner.png');background-repeat: no-repeat;
background-position: top;}
.external-app .box-img{width:100px;height: 100px;border-radius: 50%;padding: 1.5rem;margin: auto;}
.external-app .box-img1{border: 1px solid #2196F3;background-color: hsl(207deg 90% 54% / 10%);}
.external-app .box-img2{border: 1px solid #01BFFF;background-color: hsla(195, 100%, 50%, 0.1);}
.external-app .box-img3{border: 1px solid #D42B04;background-color: hsla(11, 96%, 42%, 0.1);}
.external-app .box-img4{border: 1px solid #6CAB41;background-color: hsla(96, 45%, 46%, 0.1);}
.external-app .box-img5{border: 1px solid #1B751E;background-color: hsla(123, 79%, 22%, 0.1);}
.colored-box{padding: 2rem .5rem;text-align: center;border-radius: .5rem;margin-top: 2rem;}
.account-upgrade{background-color: #1D8287;}
.colored-box h3{font-size: 26px;margin-bottom: .5rem;}
.gift-voucher{background-color: #5B7B50;}
.pagination { display: flex; justify-content: center; margin-top: 20px;}
.page-number { margin: 0 5px; padding: 5px 10px; border: 1px solid #ccc; cursor: pointer;}
.page-number.active { background-color: #000; color: #fff;}
.box-sales{border-radius: 6px; padding: 2.5rem 1.5rem;color: var(--white); text-align: center;}
.north, .north-sales .btn{background-color: var(--green);}
.south, .south-sales .btn{background-color: var(--blue);}
.west, .west-sales .btn{background-color: var(--red);}
.box-sales h4{font-size: 1.3rem;margin-bottom: 1rem;}
.box-sales .sales-value{font-size: 1.6rem;}
.side-menu--on-hover .margin-adjust{ margin-right: 1rem;}
.side-menu--on-hover .margin-adjust .fixed.xl\:ml-\[275px\]{ margin-left: 90px;}


